html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #2A2D2F;
  color: #EAEAEA;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

.title {
  margin-top: 2em;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 800px) {
  .title {
    font-size: 3em;
  }
}

.container {
  width: 100%;
  padding: 1em;
}

@media (min-width: 800px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}

.octoblu-icon {
  height : 96px;
  width : 96px;
  margin : 30px auto 0;
  display: block;
}
.vote-button {
  border: none;
  width: 46%;
  padding: 1em;
  margin: 0 2%;

  background: #04C9A8;
  color: #FFF;
  font-size: 1.5em;
  font-weight: 300;

  cursor: pointer;
}

.vote-button:hover {
  background: #05A78C;
}

.vote-button:last-child {
  background: #E74C3C;
}

.vote-button:last-child:hover {
  background: #B63B2F;
}


@media (min-width: 800px) {
  .vote-button {
    font-size: 2em;
    font-weight: 600;
  }
}
.results {
  height: 50%;
  width: 100%;
}

.result__container {
  width: 46%;
  height: 100%;
  position: relative;
  float: left;
  margin:0 2% 1em;
}

.result__votes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;

  -webkit-transition: 0.75s;
     -moz-transition: 0.75s;
      -ms-transition: 0.75s;
       -o-transition: 0.75s;
          transition: 0.75s;
}

.result__votes--yes {
  background: #04C9A8;
}

.result__votes--no {
  background: #E74C3C;
}
