id: vote-octoblu-com-green-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: vote-octoblu-com-green
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: vote-octoblu-com-green
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: vote-octoblu-com-green
      app: vote-octoblu-com-green
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: vote-octoblu-com-green
        containers:
          - name: vote-octoblu-com-green
            image: octoblu/vote-octoblu-com:$SHORT_COMMIT
            ports:
              - containerPort: 9000

